@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; /*Faz com que os padding dos elementos sejam anexados em sua largura e sua altura e nao somados*/
}

body {
    font: 400 14px Roboto, sans-serif; /*sans-serif eh caso o google cair*/
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /*Melhora a visualizacao da fonte no google chrome*/
}

inputs, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color: #3333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    font: 400 18px Roboto, sans-serif;
}
form textarea{
    width: 100%;
    min-height: 140px;
    resize: vertical;
    color: #3333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    font: 400 18px Roboto, sans-serif;
    line-height: 24px;
    
}

.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.3s;
}
.button:hover { /*efeito de hover para escurecer um pouco o botao quando passar o mouse por ele*/
    filter: brightness(90%);
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link svg{ /*para estilizar icones eh svg*/
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}